.checkout{
    position: relative;
    top: 20vh;

  }
  
.message{
    position: relative;
    top: 20vh;
    font-size: large;
}
.cartProduct{
    display:flex;
    flex-direction: row;
}

.checkoutOptions{
    position: relative;
    top: 20vh;

  }