/* temporary borders */
.redBox {
  transform: translateX(10px);
  border: solid red 2px;
}

.greenBox {
  transform: translateX(50px);
  border: solid green 2px;
}

/* import fonts here */

* {
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


/* CSS for Header*/
.header{
  background-color: green;
  color: white;
  width: 100%;
  height: 13%;
  position: fixed;
  top: 0;
  z-index: 10;

}

.logo{
  position: relative;
width: auto;
height: 13vh;
left:4vw;
}


.loginBttn{
  position: fixed;
  left: 94vw;
  top: 7.4%;
  padding: 1vw;
}
.allUsersBttn{
  position: fixed;
  left: 82.5vw;
  top: 7.4%;
  padding: 1vw;}

.myInfoBttn{
  position: fixed;
  left: 88.5vw;
  top: 7.2%;
  padding: 1vw;
}

.checkoutBttn{
  position: fixed;
  left: 86%;
  top: 1.5%;

}
#loginBttn{
  font-size: small;
}
#checkoutBttn{
  font-size:35px;
  background: none;
    border: none;
}
.shopBttn{
  position: fixed;
  left: 46%;
  top: 9%;
}
#shopBttn{
  font-size: 15px;
}

@media (min-width: 106em) and (min-height: 50em){
  .logo{
    position: relative;
  width: auto;
  height: 13vh;
  left: 2vw;
  }

  .loginBttn{
    position: fixed;
    left: 91vw;
    top: 7%;
    padding: 1vw;
    width: auto;
    height: 2in;
  }

  .allUsersBttn{
    position: fixed;
    left: 70vw;
    top: 7.4%;
    padding: 1vw;}
  
  .myInfoBttn{
    position: fixed;
    left: 88vw;
    top: 7.4%;
    padding: 1vw;}

  .checkoutBttn{
    position: fixed;
    left: 92%;
    top: 1.5%;
  
  }

  #loginBttn{
    font-size: large;
  }
  #checkoutBttn{
    font-size:40px;
    background: none;
    border: none;
  }
}
/* CSS for Home*/
.ad{
  position: relative;
  width: 100vw;
  height: 40vh;
  top: 4vw;
}

.newP{
  position: fixed;
  left: 0%;
  bottom: 0;
  background-color: #f4f7f4;
  height: 52vh;

}

.nowAvailable{
  position: relative;
left: 2vw;
}

.mac{
  width: 33vw;
}

.signUp{
  /* background-color: #c19944; */
  background-image: url(https://images.unsplash.com/photo-1590845947676-fa2576f401b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fG9yYW5nZSUyMHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 2px black;
  position: fixed;
  height: 52.2vh;
  width: 33vw;
  bottom: 0;
  left: 33vw;

}

.catcher{
  position: relative;
  left: 30%;
}

.pitch{
  position: relative;
  left: 23%;
  padding: 5px;
}

.offerBttn{
  position: relative;
  left: 40%;
  top: 10%;
}
.stock{
  /* background-color: #566637; */
  background-image: url(https://images.unsplash.com/photo-1601467995997-ac1ae9a8fff4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fGJveGVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 52.2vh;
  width: 34vw;
  bottom: 0;
  left: 66vw;

}

.ourStock{
  position: relative;
  left: 43%;
  top: 30%;
}

.howMany{
  position: relative;
  left: 16%;
  top: 26%;
  font-size: smaller
}

@media (min-width: 106em) and (min-height: 50em){
  .ad{
    position: relative;
    width: 100vw;
    height: 40vh;
    top: 4vw;
  }
  
  .newP{
    position: fixed;
    left: 0%;
    bottom: 0;
    background-color: #f4f7f4;
    height: 52vh;
  
  }
  
  .nowAvailable{
    position: relative;
  left: 2vw;
  }
  
  .mac{
    width: 33vw;
  }
  
  .signUp{
    /* background-color: #c19944; */
    background-image: url(https://images.unsplash.com/photo-1590845947676-fa2576f401b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fG9yYW5nZSUyMHRlY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 1px 2px black;
    position: fixed;
    height: 52.3vh;
    width: 33vw;
    bottom: 0;
    left: 33vw;
  
  }
  
  .catcher{
    position: relative;
    left: 30%;
  }
  
  .pitch{
    position: relative;
    left: 23%;
    padding: 5px;
  }
  
  .offerBttn{
    position: relative;
    left: 40%;
    top: 10%;
  }
  .stock{
    /* background-color: #566637; */
    background-image: url(https://images.unsplash.com/photo-1601467995997-ac1ae9a8fff4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fGJveGVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 52.3vh;
    width: 34vw;
    bottom: 0;
    left: 66vw;
  
  }
  
  .ourStock{
    position: relative;
    left: 43%;
    top: 30%;
  }
  
  .howMany{
    position: relative;
    font-size: medium;
    left: 23%;
    padding: 5px;
    top: 30%;
  }
  
}

.loginContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 87%;
  width: 60%;
  left: 0;
  bottom: 0;
  /* background-color: blue; */
  background-image: url(https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
  background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.hidden{
  display: none;
}

.signUpContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 87%;
  width: 40%;
  right: 0;
  bottom: 0;
  /* background-color: green; */
  background-image: url(https://images.unsplash.com/photo-1492321936769-b49830bc1d1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80);
  background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.loginTitle{
  position: relative;
  left: 5%;
  bottom: 8%;
}

.loginForm,.signInBttn{
  position: relative;
  left: 5%;
  bottom: 7%;
}

.registerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 87%;
  width: 40%;
  right: 0;
  bottom: 0;
  background-color: red;
}

.registerForm,.loginForm{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.loading{
  position: relative;
    width: 100vw;
    height: 87vh;
    top: 13vh;
    z-index: 15;
}

.products{
  position: relative;
  overflow-y: auto;
  top: 22vh;
}

.allProducts{
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
}

.userInfo{
  position: relative;
  top: 22vh;
}
.UsersName{
  position: relative;

  top: 22vh;
}
.UsersEmail{
  position: relative;
  top: 22vh;
}
.UsersAddress{
  position: relative;
  top: 22vh;
}
